:root {
    --fish-animate-time: 6s;
    --fish-animate-distance: 140px;
    --fish-animate-time-2: 7s;
    --fish-animate-distance-2: 130px;
    --fish-animate-time-3: 6.5s;
    --fish-animate-distance-3: 110px;
}
.fish-picture{
    position: absolute;
    right: 50px;
    animation: slide-from-right-to-left var(--fish-animate-time) infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide-from-right-to-left{
    0%{
        transform: translateX(0);
    }
    48%{
        transform: translateX(calc(-1 * var(--fish-animate-distance)));
    }
    51%{
        transform:  translateX(calc(-1 * var(--fish-animate-distance)))  scaleX(-1);
    }
    97%{
        transform:  translateX(0px) scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}
.fish-picture2{
    position: absolute;
    left: 160px;
    /* bottom: -50px; */
    animation: slide-from-right-to-left2 var(--fish-animate-time-2) infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide-from-right-to-left2{
    0%{
        transform: translateX(0) translateY(170px);
    }
    48%{
        transform: translateX(calc(-1 * var(--fish-animate-distance-2))) translateY(170px);
    }
    51%{
        transform:  translateX(calc(-1 * var(--fish-animate-distance-2)))  scaleX(-1) translateY(170px);
    }
    97%{
        transform:  translateX(0px) scaleX(-1) translateY(170px);
    }
    100%{
        transform: scaleX(1) translateY(170px);
    }
}

.fish-picture3{
    position: absolute;
    right: 100px;
    /* bottom: -50px; */
    animation: slide-from-right-to-left2 var(--fish-animate-time-3) infinite;
    animation-timing-function: ease-in-out;
}
@media(max-width:1130px){
    .fish-picture {
        opacity: 0.2;
    }

    .fish-picture2 {
        opacity: 0.1;
    }

    .fish-picture3 {
        opacity: 0.2;
    }
}