:root {
    --fish-animate-time: 4s;
    --fish-animate-distance: 70px;
    --fish-animate-time-5s: 5s;
    --fish-animate-distance: 70px;
}
.fish-picture{
    position: absolute;
    right: 50px;
    animation: slide-from-right-to-left var(--fish-animate-time) infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide-from-right-to-left{
    0%{
        transform: translateX(0);
    }
    48%{
        transform: translateX(calc(-1 * var(--fish-animate-distance)));
    }
    51%{
        transform:  translateX(calc(-1 * var(--fish-animate-distance)))  scaleX(-1);
    }
    97%{
        transform:  translateX(0px) scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}
.fish-picture2{
    position: absolute;
    left: 100px;
    bottom: -50px;
    animation: slide-from-right-to-left var(--fish-animate-time-5s) infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide-from-right-to-left{
    0%{
        transform: translateX(0);
    }
    48%{
        transform: translateX(calc(-1 * var(--fish-animate-distance)));
    }
    51%{
        transform:  translateX(calc(-1 * var(--fish-animate-distance)))  scaleX(-1);
    }
    97%{
        transform:  translateX(0px) scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}