    body{
    margin: 0; padding: 0;
    font-family: Microsoft JhengHei, 'Times New Roman', Times, serif;
    background-color:#f3f3f3;
    }
    
    .top{
        display: flex;
        align-items: center;
        background-color:#f3f3f3;
        width: 100%;
        position:sticky;
        top:0;
        z-index: 2;
    }
    
    .top-left-list{
        flex: none;
        font-size: 17px;
        font-weight: bold;
        color: rgb(66, 66, 66);
        margin-left: 40px;
        text-align: center;
        text-decoration-line: none;
    }
    .top-left-list a{
        font-size: 17px;
        font-weight: bold;
        color: rgb(66, 66, 66);
        text-align: center;
        text-decoration-line: none;
    }

    .top-left-list a:hover{
        color: gray;
        transition: 0.5s;
        cursor: pointer;
    }

    .top-left-list:nth-child(1){
        width: 200px;
    }
    
    /* .top-left-list:nth-child(4){
        margin-right: 40px;
    } */

    .top-right-list {
        flex: none;
        margin-left: auto;
        font-size: 18px;
        font-weight:bolder;
        color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 0px 0px 0px 40px;
        background-color: #b2958b;
        height:80px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 130px;
        box-shadow: 5px 5px peru;
        transition: 0.5s;
        text-decoration-line: none;
    }
    .top-right-list a{
        font-size: 18px;
        font-weight:bolder;
        color: rgb(255, 255, 255);
        text-align: center;
        transition: 0.5s;
        text-decoration-line: none;
    }
    .top-right-list:hover{
        background-color: peru;
        cursor: pointer;
        font-size: 20px;
        box-shadow: 5px 5px #b2958b;
    }
    
    .circle{
        border-radius: 50%;
        margin-left: 20px;
    }
    
    .main{
        width: 90%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-picture{
        background-image: url('./歐嚕插畫.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 80px;
        /* background: url(./歐嚕插畫.JPG) no-repeat center center;
        background-size: cover; */
    }
  

    .main-text{
        flex: none;
        height: fit-content;
        font-size: 30px;
        font-weight: bolder;
        color: rgb(0, 0, 0);
        margin-top: 30px;
        padding: 12px;
        border-radius:20%;
    }
    .main-text + div{
        padding: 30px;
    }
    
    .first-box{
        margin-top: 70px;
        background-color: #b2958b;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-title{
        font-size: 35px;
        font-weight: bold;
        padding-top: 70px;
        text-align: center;
        color: rgb(122, 63, 50);
        width: 100%;
    }

    .box-content{
        margin-top: 50px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    .box-square{
        min-width: 300px;
        width: 300px;
        /* height: 400px; */
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
        font-size: 20px;
        font-weight:bolder;
        color: rgb(84, 84, 84);
        font-family: "Chocolate Classical Sans";
        text-align: center;
        /* cursor: pointer;(滑鼠變手指) */
    }

    /* .box-picture{
        width: 270px; height: 270px;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
        margin-top: 20px;
    } */
     
    .text{
        font-weight:500;
        font-size: 15px;
        color: rgb(84, 84, 84);
        line-height:27px;
        font-family: "Chocolate Classical Sans";
        display: flex;
        justify-content: flex-start;
        text-align: justify;
        padding: 20px 10px;
    }
    .first-box2{
        background-color: #b2958b;
    }

    .box-title2{
        width: 100%;
        font-size:8vw;
        font-weight: bold;
        color: rgb(122, 63, 50);
        font-family: "Bungee";
        box-sizing: border-box;
    }

    .box-title2:nth-child(1){
        text-align: left;
        padding-left: 5px;
    }

    .box-title2:nth-child(2){
        text-align: right;
        padding-right: 10px;
    }

    .background-pink2{
        background-color: #b2958b;
    }

    .background-picture{
        background-image: url('背景樹.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    
    .second-box{
        background-color: #f09778;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
@media(max-width:800px){
    .second-box{
        background-color: #f09778;
        flex-direction: column;
    }
    .motivation-box{
        width: 20%;
        min-width: 240px;
        max-width: 300px;
        height: fit-content;
        background-color: whitesmoke;
        border-radius: 30px;    
        margin: auto;
        order: 1;
        margin-top: 5%;
    }

    .motivation-center{
        transform: translateY(5px);
        order: 2;
        margin: auto;
        margin-top: 5%;
    }
}
    .motivation-box{
        width: 20%;
        min-width: 240px;
        max-width: 300px;
        height: fit-content;
        background-color: whitesmoke;
        border-radius: 30px;    
    }

    .motivation-center{
        transform: translateY(5px);
    }
    .rotate-left{
        animation: slide-up-down-left 2s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        position: relative;
    }
    .rotate-right{
        animation: slide-up-down-right 1.8s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        position: relative;
        
    }
    .rotate-left::before{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0px 20px;
        border-color: whitesmoke transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        right: 50px;
    }

    .rotate-right::after{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0px 20px;
        border-color: whitesmoke transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        left: 50px;
    }

    @keyframes slide-up-down-left{
        from{
            transform: rotate(-10deg)translateY(-40px) translateX(25px);  
        }
        to{
            transform: rotate(-10deg) translateY(-60px) translateX(25px);
        }
    }

    @keyframes slide-up-down-right{
        from{
            transform: rotate(10deg)translateY(0px)translateX(10px);  
        }
        to{
            transform: rotate(10deg) translateY(-20px) translateX(10px);
        }
    }

    .subtitle-box{
        position: absolute;
        transform: translate(20px,-20px);
        background-color: rgb(150, 85, 71);
        padding: 10px 25px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        /* #ebccd1 淡粉色*/
        /* #f7caba  雲朵淡粉色*/
    }

    .motivation-box-text{
        height: 90%;
        width: 90%;
        margin: 20px 10px;
        font-size: 15px;
    }

    p{
        padding: 10px 20px;
        line-height: 25px;
    }

    .pink-background{
        background-color:#f09778 ;
        height: 800px;
        position: relative;
    }
    
    .second-box-content{
        width: 70%;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }

    .motivation-content{
        width: 70%;
        min-width: 653px;
        max-width: 795px;
        height: fit-content;
        background-color: whitesmoke;
        border-radius: 30px;
        box-shadow: 15px 15px #f7caba; 
        color: #f3f3f3;
        font-size: 16px;
        line-height:25px;
        
    }

    .motivation-content-title{
        height: 90px;
        font-size: 40px;
        font-weight: bold;
        color:rgb(150, 85, 71) ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .motivation-content-text{
        height: 350px;
        text-align: center;
        background-color: rgb(150, 85, 71);
        border-radius: 0 0 30px 30px;
        width: 100%;
        height: fit-content;
        padding: 5%;
        box-sizing: border-box;
        font-family: "Chocolate Classical Sans";
        font-weight:200;
        font-size: 15px;
        line-height:27px;
    }

    .background-picture2{
        background-image: url('樹幹草地背景.png');
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 550px;
        position: absolute;
        bottom: 0px;
    }
    
    .third-box{
        background-color: #bbd296;
    }

    .question-title{
        width: 500px; 
        margin: 0 auto ;
        font-weight: bold;
        font-size: 25px;
        color: rgb(57, 62, 60);
        padding-bottom: 50px;
    }

    .question-box{
        /* height: 500px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .question-picture{
        width: 400px; height: 250px;
        background-color: whitesmoke;
        margin-right: 50px;
        border-radius: 30px;
        margin-bottom: 3%;
        overflow: hidden;
    }

    .question-text{
        width: 500px; 
        font-weight:500;
        font-size: 15px;
        color: rgb(84, 84, 84);
        display: flex;
        align-items: center;
        line-height:27px;
        font-family: "Chocolate Classical Sans";
    }

    .blue{
        background-color: #bbd296;;
        height: 150px;
    }
    .fourth-box{
        /* background-color: #d2f1fd; */
        background: linear-gradient(to bottom, #d2f1fd 0%,#79cbce 60% );
    }

    .background-picture3{
        background-image: url('波浪.png');
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 100px;
        transform: translateY(-100px);
    }

    .padding-top100{
        padding-top: 100px;
    }

    .text-color-white{
        color: whitesmoke;
    }

     .position-relative{
        position: relative;
     }

     .fivth-box{
        width: 100%;
        height: 650px;
     }
     .background-picture4{
        background-image: url('海底背景.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 650px;
        position: relative;
    }

    .bubble{
        height: 250px; width:250px;
        border-radius: 50%;
        background-color:#d2f1fd ;
        opacity: .5;
        display: flex;
        justify-content:center;
        align-items: center;
        font-weight: bold;
        position: relative;
        text-align: center;
        transition: all 1s ease;
    }

    .bubble:hover{
        height: 250px; width:610px;
        border-radius: 125px;
    }

    .bubble-left{
        position: absolute;
        left: 20%;
        top: 20%;
        animation: slide-up-down-left-bubble 2s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .bubble-right{
        position: absolute;
        right: 25%;
        top: 55%;
        animation: slide-up-down-right-bubble 2.3s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    @keyframes slide-up-down-left-bubble{
        from{
            transform: translateY(-40px) translateX(25px);  
        }
        to{
            transform: translateY(-60px) translateX(25px);
        }
    }   
    @keyframes slide-up-down-right-bubble{
        from{
            transform: translateY(-20px)translateX(10px);  
        }
        to{
            transform: translateY(0px) translateX(10px);
        }
    }   

    .bubble-text{
        position: absolute;
        left:20px;
    }

    .bubble-answer{
        opacity: 0;
        transition: opacity 1s ease 0.5s;
        position: absolute;
        right: 20px;
        width: 330px;
        font-size: 15px;
    }

    .bubble:hover .bubble-answer{
        opacity: 1!important;
    }

    .bubble:not(:hover) .bubble-answer {
        opacity: 0;
        transition: opacity 0.5s ease-out;  /* 淡出效果：0.5 秒，快速淡出 */
    }

    .sixth-box{
        background-color: #ffecb9;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .white-box{
        width: 30%;
        height: fit-content;
        margin-left: 10%;
        background-color: white;
        padding: 5%;
        border-radius: 50px;
    }
    .last-title{
        width: fit-content;
        font-weight: bold;
        font-size: larger;
        color: rgb(57, 62, 60);
        padding-bottom: 50px;
        text-align: left;
    }

    .padding-bottom50{
        padding-bottom: 30px;
    }

    .other-box{
        width: 30%;
        height: fit-content;
        background-color: #c8aa77;
        border-radius: 30px 0 0 30px;
        padding: 50px;
        position: absolute;
        right: 0;
    }

    .last-text{
        font-size: 16px;
        font-weight: 500;
        text-align: end;
        color: rgb(84, 84, 84);
        line-height:27px;
        font-family: "Chocolate Classical Sans";
        margin-top: 60px;
    }

    .font-size15px{
        font-size: 15px;
        margin-top: 5px;
    }

    .icon-box{
        display: flex;
        justify-content: end;
        margin-top: 20px;
        align-items: center;
    }

    .icon{
        margin-left: 40px;
    }

    .font-chocolate{
        font-family: "Chocolate Classical Sans";
    }