    body{
    margin: 0; padding: 0;
    font-family: Microsoft JhengHei, 'Times New Roman', Times, serif;
    background-color:#f3f3f3;
    }
    
    .top{
        display: flex;
        align-items: center;
        background-color:#f3f3f3;
        width: 100%;
        position:sticky;
        top:0;
        z-index: 2;
    }
    
    .top-left-list{
        flex: none;
        font-size: 17px;
        font-weight: bold;
        color: rgb(66, 66, 66);
        margin-left: 40px;
        text-align: center;
    }
    
    .top-left-list:nth-child(4){
        margin-right: 40px;
    }

    .top-right-list{
        flex: none;
        margin-left: auto;
        font-size: 18px;
        font-weight:bolder;
        color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 0px 0px 0px 40px;
        background-color: #b2958b;
        height:80px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 130px;
        box-shadow: 5px 5px peru;
        transition: 0.5s;
    }
    .top-right-list:hover{
        background-color: peru;
        cursor: pointer;
        font-size: 20px;
        box-shadow: 5px 5px #b2958b;
    }
    
    .circle{
        border-radius: 50%;
        margin-left: 20px;
    }
    
    .main{
        width: 90%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-picture{
        background-image: url('./歐嚕插畫.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 80px;
        /* background: url(./歐嚕插畫.JPG) no-repeat center center;
        background-size: cover; */
    }

    .main-text{
        flex: none;
        height: fit-content;
        font-size: 30px;
        font-weight: bolder;
        color: rgb(0, 0, 0);
        margin-top: 30px;
        padding: 12px;
        border-radius:20%;
    }
    .main-text + div{
        padding: 30px;
    }
    
    .first-box{
        margin-top: 70px;
        background-color: #b2958b;
    }

    .box-title{
        font-size: 35px;
        font-weight: bold;
        padding-top: 70px;
        text-align: center;
    }

    .box-content{
        margin-top: 50px;
        display: flex;
        justify-content:center

    }
    .box-square{
        width: 300px;
        height: 400px;
        background-color: white;
        margin: 20px;
        border-radius: 30px;
        font-size: 18px;

        transition: 0.8s;
        /* cursor: pointer;(滑鼠變手指) */
    }

    /* .box-square:hover{
        background-color:#ffeadf ;
        width: 400px;
        height: 500px;
    } */

    .box-title2{
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        color: rgb(122, 63, 50);
        font-family: "Bungee";
    }

    .box-title2:nth-child(1){
        margin-right: 30%;
        padding-top: 50px;
    }

    .box-title2:nth-child(2){
        margin-left: 20%;
        margin-bottom: 50px;
    }

    .background-picture{
        background-image: url('背景樹.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    
    .second-box{
        background-color: #f09778;
        display: flex;
        justify-content: center;
    }

    .motivation-box{
        width: 280px;
        height: 130px;
        background-color: whitesmoke;
        border-radius: 30px;    
    }

    .motivation-center{
        transform: translateY(5px);
    }
    .rotate-left{
        animation: slide-up-down-left 2s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        position: relative;
    }
    .rotate-right{
        animation: slide-up-down-right 1.8s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        position: relative;
        
    }
    .rotate-left::before{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0px 20px;
        border-color: whitesmoke transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        right: 50px;
    }

    .rotate-right::after{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0px 20px;
        border-color: whitesmoke transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        left: 50px;
    }

    @keyframes slide-up-down-left{
        from{
            transform: rotate(-10deg)translateY(-40px) translateX(25px);  
        }
        to{
            transform: rotate(-10deg) translateY(-60px) translateX(25px);
        }
    }

    @keyframes slide-up-down-right{
        from{
            transform: rotate(10deg)translateY(0px)translateX(10px);  
        }
        to{
            transform: rotate(10deg) translateY(-20px) translateX(10px);
        }
    }

    .subtitle-box{
        position: absolute;
        transform: translate(20px,-20px);
        background-color: rgb(150, 85, 71);
        padding: 10px 25px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        /* #ebccd1 淡粉色*/
        /* #f7caba  雲朵淡粉色*/
    }

    .text{
        height: 90%;
        width: 90%;
        margin: 20px 10px;
        font-size: 15px;
    }

    p{
        padding: 10px 20px;
        line-height: 25px;
    }

    .pink-background{
        background-color:#f09778 ;
        height: 700px;
        position: relative;
    }
    
    .second-box-content{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
    }

    .motivation-content{
        width: 80%;
        background-color: whitesmoke;
        border-radius: 30px;
        box-shadow: 15px 15px #f7caba; 
    }

    .motivation-content-title{
        height: 150px;
        font-size: 40px;
        font-weight: bold;
        color:rgb(150, 85, 71) ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .motivation-content-text{
        height: 300px;
        text-align: center;
        background-color: rgb(150, 85, 71);
        border-radius: 0 0 30px 30px;
    }

    .background-picture2{
        background-image: url('樹幹草地背景.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        position: absolute;
        bottom: 0px;
    }
    
